@model MatrixTask.Models.Category

@{
    ViewBag.Title = "Details";
}

<!-- heading-banner start -->
<div class="heading-banner" style="margin-top:20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="~/Categories/Index">Home</a></li>
                    <li class="active">Details Category</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- heading-banner end -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="detail-text">
                <h3>
                    <label>  Main Category</label>
                    @if (Html.DisplayFor(model => model.Parent.Name) != null)
                    {
                        @Html.DisplayFor(model => model.Parent.Name)
                    }
                    else
                    {
                        <span>>No parent   </span>
                    }
                </h3>
                <br />
                <h4>
                    <label> Category        </label>
                    @Html.DisplayFor(model => model.Name)
                </h4>
                <br />
                <h5>
                    <label>Description</label>
                    @Html.DisplayFor(model => model.Description)
                </h5>
                <br />
                <label> Have SubCategory</label>
                @Html.DisplayFor(model => model.IsSubCat)<br />

            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
