@model IEnumerable<MatrixTask.Models.Category>

@{
    ViewBag.Title = "Index";
}

<!-- heading-banner start -->
<div class="heading-banner" style="margin-top:20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="~/Categories/Index">Home</a></li>
                    <li class="active">Index</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- heading-banner end -->

<p>
    @Html.ActionLink("Create New", "Create", "Categories", new { @class = "btn btn-primary" })
</p>
<div class="container ">
    <table class="table table-responsive  table-striped">
        <thead class="thead-dark">

            <tr >
                <th>
                    @Html.DisplayName("Main Category")
                </th>
                <th>
                    @Html.DisplayName("Sub Category")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsSubCat)
                </th>
                <th> Actions</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Parent.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSubCat)
                </td>
                <td>
                  

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })

                </td>
            </tr>
        }

    </table>
  </div>